@use "../util/" as u;

.grid {
  display: grid;
  grid-template-columns: 1rem 1rem calc(100% - 2rem * 2) 1rem 1rem;

  @include u.mq(medium) {
    grid-template-columns: 2rem 2rem calc(100% - 4rem * 2) 2rem 2rem;
  }
  @include u.mq(large) {
    grid-template-columns: 10rem 10rem calc(100% - 20rem * 2) 10rem 10rem;
  }
}
section:not(.hero) {
  margin-bottom: 8rem;
}

.hero {
  min-height: 50vh;
  grid-column: 1 / -1;
  background-image: url("/images/bg-header-mobile.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 300px;
  @include u.subgrid(center);
  text-align: center;
  font-size: clamp(1.25rem, 2vw + 0.5rem, 1.2rem);
  @include u.mq(medium) {
    background-size: 100% 200px;
    margin-bottom: 6rem;
    background-image: url("/images/bg-header-desktop.png");
  }
  > * {
    grid-column: 2 / -2;
  }
  &__logo {
    margin-block: 3rem;
    // width: 5rem;
    align-self: center;
    // @include u.mq(medium) {
    //   width: 10rem;
    // }
    img {
      width: 100%;
      aspect-ratio: 1/1;
    }
  }
  p {
    font-size: clamp(1.25rem, 2vw + 0.5rem, 1.5rem);
  }

  .page__buttons {
    grid-column: 2/-2;
    align-self: center;
  }
}

.snippets {
  grid-column: 1/-1;
  @include u.subgrid(normal);
  &__text {
    text-align: center;
    margin-bottom: var(--group-gap);
    grid-column: 3 / 4;
  }
  &__group {
    @include u.flex_center(column);
    gap: 3rem;
    grid-column: 3 / 4;
    @include u.mq(medium) {
      grid-column: 1/-1;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__items {
    padding: 2rem;
    @include u.flex_center(column);
    text-align: center;
    gap: 4rem;
    max-width: 400px;
    @include u.mq(medium) {
      max-width: 100%;
      gap: 2rem;
      text-align: start;
    }
  }
  &__item {
    width: 100%;
  }
}

.access {
  grid-column: 3 / 4;
  text-align: center;
  &__text {
    margin-bottom: var(--group-gap);
  }
}

.supercharge {
  grid-column: 1 / -1;
  text-align: center;
  @include u.subgrid(center);
  &__text {
    grid-column: 3 / 4;
    margin-bottom: var(--group-gap);
  }
  &__items,
  .logos {
    width: 100%;
    grid-column: 3 / 4;
    @include u.flex_center(column);
    gap: 3rem;
    max-width: 400px;
    @include u.mq(medium) {
      max-width: 100%;
      grid-column: 2 / -2;
      gap: 2rem;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: row;
    }
  }
  &__item {
    @include u.grid_center;
  }
  &__icon {
    margin-bottom: 2rem;
  }

  .logos {
    margin-top: calc(var(--group-gap) * 2);
    flex-wrap: wrap;
    gap: 4rem;
    .logo {
      img {
        width: 100%;
        object-fit: cover;
        @include u.mq(medium) {
          // width: 100%;
          width: 250px;
        }
        @include u.mq(x-large) {
          width: 100%;
        }
      }
    }
  }
}

.download {
  grid-column: 3 / 4;
  text-align: center;
  @include u.subgrid(center);
  @include u.mq(medium) {
    grid-column: 2 / -2;
  }
  &__text {
    grid-column: 3 / 4;
    max-width: 600px;
    @include u.mq(medium) {
      grid-column: 2 / -2;
    }
  }
  .page__buttons {
    grid-column: 1 / -1;
    margin-top: 3rem;
  }
}

.footer {
  width: 100%;
  padding-block: 2rem;
  background-color: var(--grey-lighter);
  @include u.flex_center(column);
  gap: 2rem;

  @include u.mq(medium) {
    place-items: center;
    padding-block: 1rem;
    display: grid;
    gap: 0;
  }
  &__logo {
    width: 50px;
    grid-column: 2 / 3;
  }
  &__links {
    grid-column: 3 / 4;
    @include u.flex_center(column);
    max-width: 400px;
    gap: 1rem;
    @include u.mq(medium) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }
  &__media {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    grid-column: 4 / -2;
  }
  .icon {
    width: 2.2rem;
    height: 2.2rem;
    background-color: var(--grey-lighter);
    aspect-ratio: 1/1;
    @include u.grid_center;
    border-radius: 0.5rem;
    transition: all 500ms ease;
    &:hover {
      background-color: var(--grey);
    }
  }
}
